@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap);
body {
    margin-left: 2rem;
    margin-right: 2rem;
}

html {
    font-family: 'DM Sans', sans-serif;
}

/* HEADER */

h1 {
    color: #901C1C;
    font-family: 'DM Sans', sans-serif;
    width: fit-content;
}

header {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 2rem;
    overflow: hidden;
}

header img {
    width: 15rem;
}

header nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    left: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0 4px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 90px;
}

nav img {
    width: 180px;
}


/* TAGS */

nav ul li:hover {
    transform: scale(1.2);
    transition: 500ms;
}

ul li:hover,
.actived{
    background-color: #901C1C;
    color: #fff;
    cursor: pointer;
}

ul li {
    border: .5px solid #C4C4C4;
    border-radius: 11px;
    color: #901C1C;
    font-size: 14px;
    font-weight: 500;
    list-style: none;
    margin: 0 .1875rem .7rem;
    padding: .0625rem .375rem;
    text-decoration: none;
    transition: all .2s;
}

a {
    text-decoration: none;
}

/* BUTTON 'Passer au contenu' */

main>a {
    background: #DB8876;
    border-radius: .3125rem;
    color: #000;
    display: none;
    flex-wrap: nowrap;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    left: 0;
    margin: 0 auto;
    padding: 5px;
    position: fixed;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 2%;
    width: 182px;
    z-index: 1;
}

main>a:hover {
    background: #901C1C;
    color: #fff;
}

/* PHOTOGRAPHER CARD */

.articlePh {
    margin: .5rem;
    padding: .3rem;
    text-align: center;
    width: 22rem;
}

.articlePh a {
    text-decoration: none;
}

.filter {
    display: flex;
    justify-content: center;
    margin-right: 3rem;
    margin-top: .5rem;
}

.location {
    color: #901C1C;
    margin: .2rem;
}

.name {
    color: #D3573C;
    font-size: 1.7rem;
    margin-bottom: .7rem;
}

.price {
    color: #757575;
    margin: 0;
}

.tagline {
    margin: 0;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 5rem;
    margin-top: 7rem;
    padding: 0;
    width: 100%;
}

section img {
    border-radius: 50%;
    box-shadow: 0 0 .8rem rgba(134, 134, 134, 0.432);
    height: 12.5rem;
    margin: 0 auto;
    object-fit: cover;
    overflow: hidden;
    width: 12.5rem;
}

figure:focus{
    border: #901C1C solid 2px ;
}

/* MEDIAQUERY */

@media  screen and (max-width: 600px) {
    body {
        margin: 0rem .5rem;
    }
}

@media  screen and (max-width: 540px) {
    h1 {
        font-size: 20px;
        margin-right: 1.2rem;
    }
    header img {
        width: 12.5rem;
    }
}

@media  screen and (max-width: 400px) {
    body {
        margin: 0;
    }
    h1 {
        font-size: 14px;
    }
}

@media screen and (min-width: 1170px) {

    header {
        margin-top: 0;
    }
    header img {
        width: 15rem;
    }
    header nav a {
        margin-bottom: 0;
    }
    header nav ul {
        top: 22px;
        width: 39rem;
    }
    .tags {
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
    section {
        margin-top: 3rem;
    }
}

@media screen and (min-width: 1500px) {
    .articlePh {
        width: 26rem;
    }
}

@media screen and (min-width: 1600px) {
    .articlePh {
        width: 31rem;
    }
}